<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>base</title>
    <!--    fragment header-->
    <th:block th:fragment="headStuff">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/69e5f61610.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    </th:block>
    <!--    <style>-->
    <!--        .center {-->
    <!--            text-align: center;-->
    <!--            margin: auto;-->
    <!--        }-->
    <!--    </style>-->
</head>
<body>
<!--fragment navbar-->
<div th:fragment="navlinks">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" title="Selam!"><i class="fas fa-puzzle-piece"></i> &nbsp <strong>KAB</strong></a>
                </li>
                <!--            <li class="nav-item">-->
                <!--                <a class="nav-link" href="//codeply.com">Codeply</a>-->
                <!--            </li>-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}"><i class="fas fa-house-damage"></i>&nbsp Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/timesheet-group}" sec:authorize="isAuthenticated()">TimeSheet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin-employee}" sec:authorize="isAuthenticated()">Admin</a>
                </li>


            </ul>
        </div>
        <div class="mx-auto  order-0">
            <div class="row">
                <span th:if="${#authentication.name == null}" style="color: white">Welcome</span>
                <span th:unless="${#authentication.name == null}" style="color: white">[[${loggedUser.firstName}]]&nbsp[[${loggedUser.lastName}]]</span>

            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}" style="color: white" title="Register/Employee!">

                        <i class="fas fa-user-plus"></i>

                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!--guest page navbar-->
<!--fragment navbar-->
<div th:fragment="navlinks-guest">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" title="Selam!"><i class="fas fa-puzzle-piece"></i> &nbsp <strong>KAB</strong></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}"><i class="fas fa-house-damage"></i>&nbsp Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" sec:authorize="isAuthenticated()">TimeSheet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/displayUsers}" sec:authorize="isAuthenticated()">Admin</a>
                </li>


            </ul>
        </div>
        <div class="mx-auto  order-0">
            <div class="row">
                <a class="navbar-brand mx-auto" href="" >
                    <span style="color: white">Welcome</span>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}" sec:authorize="isAuthenticated()" style="color: white" title="Register/Employee!">
                        <i class="fas fa-user-plus"></a>
                </li>
            </ul>
        </div>
    </nav>
</div>




<!--fragment footer-->
<div   th:fragment="footer">&copyCopyright KAB-2020 </div>

<div   th:fragment="footer-scripts">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</div>

</body>
</html>