<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <th:block th:insert="base :: headStuff"></th:block>
    <style>
        .forBorder {
            border-radius: 3rem;
        }
    </style>
</head>
<body>
<!-- Navbar -->
<nav th:replace="base :: navlinks"></nav>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
    </div>

    <!-- Middle Column -->

    <div class="w3-col m7">

        <div id="login"  class="w3-container w3-card w3-white w3-round w3-margin forBorder"><br>
            <h1 class="w3-center">Test Timesheet!</h1><br>
            <hr class="w3-clear">
            <div class="w3-row-padding" style="margin:0 -16px">
            </div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-col m12">
                <div class="w3-card w3-round w3-white forBorder">
                    <div class="w3-container w3-padding">

                        <div class="error" th:if="${param.error}" style="color: red">
                            <div class="w3-center">Invalid username or password.</div><br/><br/>
                        </div>
                        <div class="success" th:if="${param.logout}" style="color: green">
                            <div class="w3-center">You have been logged out.</div><br/><br/>
                        </div>

                        <th:block th:action="@{/submit-timesheet/{id}(id=${timesheet.id})}" th:object = "${timesheet}" method="post">
                            <input type="hidden" th:field="*{id}">
                            <label>Regular hours worked in a week/two</label>
                            <input type="number" class="w3-input w3-border w3-padding" th:field="*{regularHours}"><br/>
                            <label>Overtime ... hrs worked in a week or two</label>
                            <input type="number" class="w3-input w3-border w3-padding" th:field="*{overtimeHours}"><br/>

                                <div class="w3-center">
                                    <div class="row">
                                        <div class="col-md-6">
<!--                                            <form th:action="@{/save-timesheet/{id}(id=${loggedUser.id})}">-->
<!--                                                <button type="submit" class="w3-button w3-theme">-->
<!--                                                    <i class="fas fa-save"></i> Save-->
<!--                                                </button>-->
<!--                                            </form>-->
                                            <a class="btn btn-success" th:href="@{/save-timesheet/{id}(id=${timesheet.id})}" th:method="post" role="button">Save</a>
                                        </div>

                                        <div class="col-md-6">
<!--                                            <button type="submit" class="w3-button w3-theme" style="color: red">-->
<!--                                                <i class="fas fa-file-export"></i> Submit-->
<!--                                            </button>-->
                                            <a class="btn btn-danger" th:href="@{/submit-timesheet/{id}(id=${timesheet.id})}" th:method="post"  role="button">Submit</a>

                                        </div>
                                    </div>
                                </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<br>

<div th:replace="base :: footer"></div>
<div th:replace="base :: footer-scripts"></div>

</body>
</html>