<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>daily-entry</title>
</head>
<body>
<h1>daily entry page</h1>
<label>Regular Hrs</label>
<input type="number" class="w3-input w3-border w3-padding" th:field="*{regHours}"><br/>

<label>overtimeHours</label>
<input type="number" class="w3-input w3-border w3-padding" th:field="*{overtimeHours}"><br/>

<label>holidayHours</label>
<input type="number" class="w3-input w3-border w3-padding" th:field="*{holidayHours}"><br/>

<label>holidayWorkedHours</label>
<input type="number" class="w3-input w3-border w3-padding" th:field="*{holidayWorkedHours}"><br/>

<label>holidayOTHours</label>
<input type="number" class="w3-input w3-border w3-padding" th:field="*{holidayOTHours}"><br/>

<label>leaveNoPayHours</label>
<input type="number" class="w3-input w3-border w3-padding" th:field="*{leaveNoPayHours}"><br/>

<label>compTimeEarnedHours</label>
<input type="number" class="w3-input w3-border w3-padding" th:field="*{compTimeEarnedHours}"><br/>

<label>compTimeUsedHours</label>
<input type="number" class="w3-input w3-border w3-padding" th:field="*{compTimeUsedHours}"><br/>

<label>leaveHours</label>
<input type="number" class="w3-input w3-border w3-padding" th:field="*{leaveHours}"><br/>



</body>
</html>